.header_container {
  align-self: center;
}

.portfolio {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  min-height: 100vh;
  padding: 8rem 6% 2rem;
}

h1 {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btnIcons {
  display: flex;
  gap: 1rem;
}

.btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.tags {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  align-items: center;
  flex-wrap: wrap;
}

.tag {
  outline: 1px solid white;
  padding: 0.5rem;
  font-size: 0.8rem;
  transition: 250ms ease;
}

.tag:hover {
  background: white;
  color: hsl(0, 0%, 2%);
}

.card:hover .card-hover {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  cursor: pointer;
}
.projectsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

@media (min-width: 500px) {
  .projectsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .projectsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  .projectsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.projectsContent {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  position: relative;
  align-items: center;
  transition: transform 0.3s;
  overflow: hidden;
  width: 100%;
}

.projectsContent:hover {
  border-radius: 11px;
}

.projectsContent img {
  width: 100%;
  height: 250px;
  border-radius: 5px;
  opacity: 1;
  object-fit: cover;
}

.projectsContent img:hover {
  opacity: 0.5;
}

.title {
  position: absolute;
  padding: 0 1rem 2.2rem 1rem;
  bottom: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  background: linear-gradient(rgb(0, 0, 0, 0) -60%, rgb(8, 2, 5, 15));
  opacity: 0;
  transition: 0.4s ease-in-out;
}

.title:hover {
  opacity: 1;
  height: 100%;
}

.title h2 {
  font-weight: 900;
  font-size: 1.9rem;
  text-align: center;
  color: var(--main_color);
}

.title span {
  font-family: cursive;
  font-size: 1.2rem;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 0.8rem;
}

.tagsIcon {
  display: flex;
  flex-direction: row;
  gap: 9px;
}

.tagsIcon img {
  object-fit: contain;
  width: 25px;
  height: 50px;
}

@media (min-width: 1300px) {
  .projectsContent {
    max-width: 40rem;
  }
}
