header {
  display: flex;
  justify-content: space-between;
  padding: 10px 18px;
}
.left-header {
  background-color: darkorange;
  visibility: hidden;
}
.right-header {
  display: flex;
  align-items: center;
}
.nav-space {
  margin: 8px;
  color: white;
  font-size: larger;
}
a {
  text-decoration: none;
  font-size: 13.5px;
  color: white;
}

a:hover {
  text-decoration: underline;
}

.nav-space:hover {
  cursor: pointer;
}

.btnGoogle {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 40px;
  width: 100px;
  background-color: #1a73e8;
  border: none;
  border-radius: 5px;
}

.btnGoogle:hover {
  background-color: #1b66c9;
}
.google-logo {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 153px;
}
.nav-search {
  height: 90px;
  padding: 20px;
  display: flex;
  justify-content: center;
}
.search-bar {
  height: 46px;
  border-radius: 30px;
  width: 40%;
  border: 1px solid #dcdcdc;
  display: flex;
  align-items: center;
  padding: inherit;
}
svg {
  height: 24px;
  width: 24px;
}
.search-icon a {
  padding: 3px 10px 0px 10px;
  color: rgba(140, 140, 140, 0.925);
  font-size: 0.85rem;
}

.search-icon a:hover {
  font-size: 2rem;
  color: #1a73e8;
  cursor: pointer;
}

input {
  height: 35px;
  width: 100%;
  border: none;
  outline: none;
  font-size: medium;
}

.input-area {
  width: 100%;
}
.area {
  background: transparent;
  color: white;
}
.voice-icon {
  padding: 3px 5px 0px 8px;
}
.camera-icon {
  padding: 3px 0px 0px 5px;
}
.search-icon:hover {
  cursor: default;
}
.icons-pointer:hover {
  cursor: pointer;
}
.twobuttons {
  display: flex;
  justify-content: center;
}

.search-bar:hover {
  border: none;
  box-shadow: 1px 1px 8px 1px #dcdcdc;
}
.search-bar:active {
  border: none;
  box-shadow: 1px 1px 8px 1px #dcdcdc;
}

@media (max-width: 1024px) {
  #one {
    width: 370px;
  }
  .search-bar {
    width: 490px;
  }
  img {
    height: 100%;
    width: 230px;
  }
}
@media (max-width: 768px) {
  #one {
    width: 270px;
  }
  .search-bar {
    width: 390px;
  }
  img {
    height: 100%;
    width: 210px;
  }

  .last-bar {
    padding: 0px 15px;
  }
  .pak p {
    padding-left: 15.5px;
  }
}
@media (max-width: 425px) {
  #one {
    width: 210px;
  }
  .search-bar {
    width: 330px;
  }
  img {
    height: 100%;
    width: 180px;
  }
}
@media (max-width: 375px) {
  #one {
    width: 160px;
    height: 30px;
  }
  .search-bar {
    width: 280px;
  }
  img {
    height: 100%;
    width: 170px;
  }
  .search-bar {
    height: 40px;
  }
  @media (max-width: 320px) {
    #one {
      width: 105px;
      height: 25px;
    }
    .search-bar {
      width: 225px;
    }
    img {
      height: 100%;
      width: 160px;
    }
  }
}
