.footer {
  background-color: var(--container-color);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.footer__container {
  padding: 2rem 0 6rem;
}


.footer__title {
  text-align: center;
}

.dot__footer {
  color: var(--main_color);
}

.footer__copy {
  display: block;
  text-align: center;
}

@media screen and (max-width: 992px) {
  .footer__social-link {
    padding: 0.25rem;
    border-radius: 0.25rem;
    font-size: 1rem;
  }
}
